.event-card {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff; /* Білий фон для картки */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь */
  border-radius: 8px; /* Закруглені кути */
}

.event-title {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333; /* Темний текст */
}
.event-organizer {
  margin-top: 30px; /* Додаємо відступ перед організатором */
  margin-bottom: 16px; 
  font-weight: bold; /* Можна додати напівжирний текст для виділення */
  color: #555; /* Додаємо колір, якщо потрібно */
}


.event-actions {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.event-register,
.event-view {
  text-transform: none;
}

.event-description {
  margin-top: 10px;
  color: #666; /* Сірий текст для опису */
  margin-bottom: 16px; /* Відступ для рівного розташування */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Обмежує кількість рядків до 2 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}